@font-face {
    font-family: "llpixel";
    src: url(LLPIXEL3.ttf) format("TrueType");
}

body {
    color: white;
    margin: 0;
    font-family: llpixel, monospace;
    text-align: center;
}

#gameZone {
    position: relative;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.pallette {
    position: absolute;
    width: 20px;
    height: 200px;
    background-color: white;
}

.ball {
    background-color: white;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
}

#board {
    text-align: center;
    font-size: 5rem;
}

#pallettesContainer :first-child {
    left: 0;
}

#pallettesContainer :last-child {
    right: 0;
}

#message {
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 3rem;
}

#instructions {
    position: absolute;
    width: 100%;
    font-size: 1.2rem;
    bottom: 0 ;
}

kbd {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 25px;
    aspect-ratio: 1;
    border-radius:  3px;
}

.hidden {
    opacity: 0;
}

.spark {
    animation-name: spark;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes spark {
    0% {
        opacity: 100%;
    }
    49.99% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    99.99% {
        opacity: 0%;
    }
}
